    
<section class="intro">
    <app-intro-text></app-intro-text>
    
    <!-- Avatar con recuadro -->
    <div class="avatar-container">
        <img src="/assets/logo.png" alt="Avatar" class="avatar">
        <div class="badge-gradient">Ingeniera Multimedia</div>
    </div>

    <div class="portfolio-text">
        <span class="filled">PORTAFOLIO</span>
        <span class="outline">PORTAFOLIO</span>
    </div>

<!-- Contenedor Spline -->
<div class="spline-container">
    <iframe src="https://my.spline.design/untitled-2f0b1118621ff9ed5b0c6dc4ba63863d/" frameborder="0"></iframe>
</div>

</section>