<section class="about-container">
  <div class="avatar-container">
    <!-- Modelo de Spline -->
    <iframe
      id="splineAvatar"
      src="https://my.spline.design/untitled-b81e93014ff4d2f5c6b08be73610bac6/" frameborder="0"></iframe>
  </div>

  <div class="info-container">
    <h2>Sobre mí</h2>
    <p>
      ¡Hola! Soy Heidy Diaz, Soy ingeniera multimedia con énfasis en desarrollo de videojuegos, apasionada por la creación de experiencias interactivas. 
      Trabajo con Unity (URP, Android, WebGL) y he diseñado simulaciones, juegos 2D y 3D. Me gusta explorar estilos como biopunk y medieval oscuro, combinando arte 
      y tecnología para contar historias inmersivas.
    </p>

    <div class="tech-container">
      <div class="tech-section">
        <h3>🖥️ Programas</h3>
        <ul>
          <li>Unity</li>
          <li>Unreal Engine</li>
          <li>Visual Studio</li>
          <li>Blender</li>
          <li>3ds Max</li>
          <li>Photoshop</li>
          <li>Canvas</li>
          <li>Trello</li>
          <li>Miro</li>
          <li>Premier Pro</li>
          <li>MagicaVoxel</li>
        </ul>
      </div>
    
      <div class="tech-section">
        <h3>⚙️ Tecnologías</h3>
        <ul>
          <li>Git/GitHub</li>
          <li>Model-Viewer</li>
          <li>Angular</li>
          <li>React</li>
          <li>Supabase</li>
          <li>Firebase</li>
          <li>Three.js</li>
          <li><strong>Lenguajes de Programación:</strong> C#, C++,JavaScript</li>
          <li>Diseño de Niveles e IA</li>
        </ul>
      </div>
    </div>
  </div>
  </section>